{%extends file="layout/boot_base.html"%}
{%block name="main"%}
<div class="login-form-wrap" ng-controller="RegisterController" ng-init="init()">
    <h3 class="login-form-heading">请填写如下信息</h3>
    <label for="inputNick" class="sr-only">用户名</label>
    <input type="text" id="inputNick" ng-model="user.nick"
           ng-class="{'login-form-error-input' : (errorTips.nick)}"
           class="form-control login-form-input" placeholder="给自己选个昵称吧~" autofocus="">
    <label for="inputEmail" class="sr-only">邮箱</label>
    <input type="text" id="inputEmail" ng-model="user.email"
           ng-class="{'login-form-error-input' : (errorTips.email)}"
           class="form-control login-form-input" placeholder="请填写邮箱" autofocus="">
    <label for="inputName" class="sr-only">姓名</label>
    <input type="text" id="inputName" ng-model="user.name"
           ng-class="{'login-form-error-input' : (errorTips.name)}"
           class="form-control login-form-input" placeholder="请填写真实姓名~" autofocus="">
    <label for="inputPassword" class="sr-only">密码</label>
    <input type="password" id="inputPassword" ng-model="user.password"
           ng-class="{'login-form-error-input' : (errorTips.password)}"
           class="form-control login-form-input" placeholder="请填写密码">
    <label for="confirmPassword" class="sr-only">确认密码</label>
    <input type="password" id="confirmPassword" ng-model="user.confirm_password"
           ng-class="{'login-form-error-input' : (errorTips.confirm_password)}"
           class="form-control login-form-input" placeholder="请确认密码">
    <label for="inputPhone" class="sr-only">电话</label>
    <input type="text" id="inputPhone" ng-model="user.phone"
           ng-class="{'login-form-error-input' : (errorTips.phone)}"
           class="form-control login-form-input" placeholder="请填写电话~" autofocus="">
    <label for="inputSchool" class="sr-only">学校</label>
    <select class="form-control login-form-input"
            ng-class="{'login-form-error-input' : (errorTips.school)}"
            id="inputSchool" ng-change="schoolChange(user.school)"
            ng-model="user.school" ng-options="school.name for school in schoolList track by school.id">
    </select>
    <label for="inputCollege" class="sr-only">学院</label>
    <select class="form-control login-form-input"
            ng-class="{'login-form-error-input' : (errorTips.college)}"
            id="inputCollege" ng-change="collegeChange(user.college)"
            ng-model="user.college" ng-options="college.name for college in collegeList track by college.id">
    </select>
    <label for="inputGrade" class="sr-only">班级</label>
    <select class="form-control login-form-input" id="inputGrade"
            ng-class="{'login-form-error-input' : (errorTips.grade)}"
            ng-model="user.grade" ng-options="grade.name for grade in gradeList track by grade.id">
    </select>
    <button class="btn btn-lg btn-primary btn-block" ng-click="register()">注册</button>
</div>
{%/block%}
{%block name="css" append%}
<link href="{%$BASE_URL%}static/css/user/login.css" rel="stylesheet">
{%/block%}
{%block name="js" append%}
<script src="{%$BASE_URL%}static/js/user/register.js"></script>
{%/block%}