{%extends file="layout/boot_base.html"%}
{%block name="main"%}
<div class="row" ng-controller="SearchController" ng-init="init()" ng-cloak>
    <div class="col-sm-8 blog-main">
        <div class="admin-page-operate-wrap">
            <div class="admin-page-operate-controls clearfix">
                <select class="form-control"
                        ng-model="currentSchool" ng-change="schoolChange()"
                        ng-options="school.name for school in schoolList track by school.id">
                </select>
                <select class="form-control"
                        ng-model="currentCollege" ng-change="collegeChange()"
                        ng-options="college.name for college in collegeList track by college.id">
                </select>
                <select class="form-control"
                        ng-model="currentGrade"
                        ng-options="grade.name for grade in gradeList track by grade.id">
                </select>
                <input type="text" class="form-control"
                       ng-change="searchUser()"
                       ng-model="userName" placeholder="请填写用户名">
            </div>
            <div class="admin-page-operate-content" ng-show="userList.length > 0">
                <table class="table table-hover table-striped">
                    <tr>
                        <th>序号</th>
                        <th>昵称</th>
                        <th>姓名</th>
                        <th>学校</th>
                        <th>邮箱</th>
                        <th>操作</th>
                    </tr>
                    <tr ng-repeat="user in userList track by $index">
                        <th scope="row" ng-bind="($index+1)"></th>
                        <td ng-bind="user.nick"></td>
                        <td ng-bind="user.name"></td>
                        <td ng-bind="user.schoolName"></td>
                        <td ng-bind="user.email"></td>
                        <td>添加好友</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>关于</h4>
                <p><b>校园网</b>，致力于让同学们在毕业之后还可以交流互动，可以发布学校、学院或者班级的相关通知，增加大家直接的友谊。</p>
                <p>好吧，我编不下去了~~</p>
            </div>
        </div>
    </div>
</div>
{%/block%}
{%block name="css" append%}
<link href="{%$BASE_URL%}static/css/admin/admin.css" rel="stylesheet">
{%/block%}
{%block name="js" append%}
<script src="{%$BASE_URL%}static/js/user/search.js"></script>
{%/block%}