{%extends file="layout/boot_base.html"%}
{%block name="main"%}
<div class="row" ng-controller="AdminController" ng-init="init()" ng-cloak>
    <div class="col-sm-8 blog-main">
        <div class="admin-operation-head">
            <div class="admin-operation-head-wrap">
                <div class="admin-op-button" ng-click="switchPage('school')"
                     ng-class="{'admin-op-active-button' : (currentPage == 'school')}">添加学校</div>
                <div class="admin-op-button" ng-click="switchPage('college')"
                     ng-class="{'admin-op-active-button' : (currentPage == 'college')}">添加学院</div>
                <div class="admin-op-button" ng-click="switchPage('grade')"
                     ng-class="{'admin-op-active-button' : (currentPage == 'grade')}">添加班级</div>
            </div>
        </div>
        <div class="admin-page-operate-wrap" ng-show="currentPage == 'school'">
            <div class="admin-page-operate-controls clearfix">
                <input type="text" class="form-control" ng-model="schoolName" placeholder="请填写学校名">
                <button type="button" class="btn btn-primary"
                        ng-disabled="schoolName == ''" ng-click="addNewSchool()">提交</button>
            </div>
            <div class="admin-page-operate-content">
                <table class="table table-hover table-striped">
                    <tr>
                        <th>序号</th>
                        <th>校名</th>
                        <th>创建时间</th>
                    </tr>
                    <tr ng-repeat="school in schoolList track by $index">
                        <th scope="row" ng-bind="($index+1)"></th>
                        <td ng-bind="school.name"></td>
                        <td ng-bind="school.created"></td>
                    </tr>
                </table>
            </div>
            <div class="article-list-item-wrap" ng-repeat="article in articleList track by $index">
                <div class="article-list-item-head clearfix">
                    <div class="article-user-avatar">
                        <a href="{%$BASE_URL%}user/homePage/id/{{article.article.user_id}}" target="_blank">
                            <img ng-src="{%$BASE_URL%}{{article.article.avatar}}"
                                 width="50" title="{{article.article.user_name}}">
                        </a>
                    </div>
                    <div class="article-user-info-wrap">
                        <div class="article-user-name" ng-bind="article.article.user_name">
                        </div>
                        <div class="article-create-info"
                             ng-bind="article.article.type_name + ' | ' + article.article.created">
                        </div>
                    </div>
                </div>
                <div class="article-list-item" ng-bind="article.article.content">
                </div>
                <div class="article-comment-list-wrap">
                    <div class="article-comment-list-item-wrap clearfix"  ng-repeat="comment in article.comment">
                        <a href="{%$BASE_URL%}user/homePage/id/{{comment.user_id}}"
                           target="_blank" class="article-comment-avatar">
                            <img ng-src="{%$BASE_URL%}{{comment.avatar}}" class="user-avatar">
                        </a>
                        <div class="article-comment-item">
                            <p class="article-comment-item-info clearfix">
                                <a href="{%$BASE_URL%}user/homePage/id/{{comment.user_id}}"
                                   target="_blank" class="user-name" target="_blank" ng-bind="comment.user_name"></a>
                                <span class="article-comment-item-time" ng-bind="comment.created"></span>
                            </p>
                            <div class="article-comment-item-content"
                                 ng-click="replyComment(comment.user_id, comment.user_name, article.userComment)">
                                {{comment.content}}
                            </div>
                        </div>
                    </div>
                    <div class="article-comment-list-item-wrap clearfix">
                        <a href="{%$BASE_URL%}user/homePage/id/{%$user.id%}"
                           target="_blank" class="article-comment-avatar">
                            <img src="{%$BASE_URL%}{%$user.avatar%}" class="user-avatar">
                        </a>
                        <div class="article-comment-item clearfix">
                            <input type="text" class="form-control comment-text-input" placeholder="输入回复"
                                   ng-model="article.userComment.content">
                            <button type="submit" class="btn btn-primary"
                                    ng-disabled="article.userComment == null || article.userComment == ''"
                                    ng-click="submitResponse(article)">回复</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>关于</h4>
                <p><b>校园网</b>，致力于让同学们在毕业之后还可以交流互动，可以发布学校、学院或者班级的相关通知，增加大家直接的友谊。</p>
                <p>好吧，我编不下去了~~</p>
            </div>
        </div>
    </div>
</div>
{%/block%}
{%block name="css" append%}
<link href="{%$BASE_URL%}static/css/admin/admin.css" rel="stylesheet">
{%/block%}
{%block name="js" append%}
<script src="{%$BASE_URL%}static/js/admin/admin.js"></script>
{%/block%}